.site_header{
    background-color:#1bbc9b;
    color : #ecfdf9;
    height: 100vh;
    font-family:-webkit-pictograph;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     
}
.site_header_content{
    margin:10px;
}
.profile_pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center ;
    box-shadow:#0a8268 2px 5px 5px;
}
.site_content{
    color : #ecfdf9;
    
}
.site_content_1{
    color : #ecfdf9;
    
}

 body{
     margin:0;
 }
